*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,body
    {
    height: 100%;
    width: 100%;
    
    }
    #cursor{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color:  rgb(255, 255, 255);
        position: absolute;
        position: fixed;
        /* transition: 0.001s; */
        z-index: 9999999999999999999;
        mix-blend-mode: difference;
    }
    
    #menubar{
        width: 100%;
        height:85vh;
        background-color:  #F1F0EB;
        position: absolute;
        z-index: 99999;
        top: -100%;
        transition: 1s;
        /* position: relative; */
        display: block;
        display: flex;
       
    }
    #menubar #border{
        width: 100%;
        height: 1.5px;
        background-color: rgba(40, 40, 40, 0.641);
        position: absolute;
        top: 16% ;
    }
    #menubar #left{
        /* background-color: violet; */
        height: 100%;
        width: 25%;
        padding: 80px;
        padding-top: 120px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
        font-family: Gilroy;
        font-weight: 100;
    }
    
    #menubar #left h3{
        padding-top: 10px;
        /* font-size: 50px; */
        font-size: 3vw;
        color: rgba(0, 0, 0, 0.543);
       
        
       
    }
    #menubar #left h3:hover{
        text-decoration: underline;
        transition: 2s;
    }
    
    #menubar #mid{
        width: 25%;
        height: 100%;
        /* background-color: s  eagreen ; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 100;
        font-size: 1vw;
    
        
    }
    #menubar #mid h4{
        padding: 10px;
    }
    #menubar #mid h4:hover{
        text-decoration: line-through;
        transition: 5s;
    
    }
    a{
        text-decoration: none;
        color: rgb(55, 54, 54);
    }
    #menubar #right{
        width: 50%;
        height: 100%;
        /* background-color: teal; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
    #menubar #right #img{
        overflow: hidden;
        border-radius: 20px;
        width: 90%;
        height: 80%;
        background-color: azure;
        
    }
    #menubar #right #img img{
        width: 100%;
        height: 100%;
    }
    #nav{
        
        display: flex;
        position: fixed;
        mix-blend-mode: difference;
        background: transparent;
        /* background-color:tomato; */
        width: 100%;
        height: 100px;
        z-index: 99900000;
        
    }
    #nav #left{
        width: 50%;
        height: 100%;
        /* background-color: purple; */
        display: flex;
        align-items: center;
        padding-left: 20px;
        
    
    }
    #nav #left #line{
        width: 70px;
        height: 15px;
        /* background-color: white; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
       
    }
    #nav #left #line #line1{
        width: 100%;
        height: 2px;
        background-color: white;
        mix-blend-mode: difference;
        transition: 0.3s;
    
    }
    #nav #left #line #line2{
        width: 100%;
        height: 2.3px;
        background-color: white;
        mix-blend-mode: difference;
        transition: 0.3s;
    }
    #nav #left h3{
        /* padding: 20px; */
        color: cornsilk;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    #nav #right{
        width: 50%;
        height: 100%;
        /* background-color: rgb(184, 50, 184); */
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        padding-right: 24px;
    
    }
    #nav #right a{
        /* position: absolute; */
        right: 20px;
        color: cornsilk;
        text-decoration: underline;
        /* gap: 20px; */
        /* padding-right: 20px; */
        
    }
    #main{
        width: 100%;
        min-height: 100vh;
        background-color:  #F1F0EB;
        overflow: hidden;
    
       
    }
    #page1{
        width: 100%;
        height: 100vh;
        /* background-image: url();
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover; */
        overflow: hidden;
        position: relative;
    }
    #page1 img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: top;
    
    }
    #page1 #text{
        position: relative;
        top: 30%;
        left: 10%;
        
        font-size: 90px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 10;
        color: #F1F0EB;
    }
    #page1 #text{
        /* font-size: 50px; */
        font-size: 3vw;
        
    }
    #page1 .text{
        /* background-color: pink; */
        /* border-bottom: 1px solid black; */
        overflow: hidden;
    }
    
    #page1 button{
        border: 1px solid white;
        border-radius: 30px;
        background: transparent;
        /* z-index: 999999999999999; */
        color: white;
        position: absolute;
        padding: 6px 60px;
        top: 85%;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        /* background-color: darkcyan; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        
    }
    #page1 button:hover{
        background-color:#F1F0EB;
        color: #323232;
        border: none;
        transition: 0.4s;
    }
    #page2{
        width: 100%;
        height: 110vh;
        background-color: #F1F0EB;
        display: flex;
    }
    #page2 #left{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page2 #left #img{
        width: 40%;
        height:49%;
        background-color: darkslategrey;
        /* background-image: url();
        background-size: cover; */
    }
    #page2 #left #img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #page2 #right{
        width: 60%;
        height: 100%;
        /* background-color: rgba(112, 128, 144, 0.285); */
        padding-left: 50px;
        font-size: 22px;
        padding-top: 100px;
    }
    #page2 #right h2{
        padding-bottom: 20px;
    }
    #page3{
        width: 100%;
        height: 150vh;
        /* background-color: rgb(211, 165, 211); */
        
    }
    #page3 #up{
        width: 100%;
        height: 10vh;
        background-color: #F1F0EB;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }
    #page3 #down{
        width: 100%;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    #page3 #down #img{
        width: 100%;
        height: 100%;
        background-color: rgb(96, 129, 20);
       
        
        overflow: hidden;
        transition: 0.5s;
        
    }
    #page3 #down #img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.2;
        
    }
    #page3 #down #img:hover{
        width: 95%;
        height: 97%;
        transition: 0.5s;
        border-radius: 10px;    
    }
    #page4{
        width: 100%;
        height: 40vh;
        /* background-color: rgb(216, 86, 216); */
        display: flex;
        padding: 20px;
    }
    #page4 #left{
        width: 50%;
        height: 100%;
    
    }
    #page4 #right{
        width: 50%;
        height: 100%;
    
    }
    #page5{
        width: 100%;
        height: 200vh;
        /* background-color: sandybrown; */
    }
    #page5 h1{
        font-size: 18rem;
        font-weight: 100;
    }
    #page5 .text{
        border: 1px solid green;
    }
    #footer{
        width: 100%;
        height: 50vh;
        /* background-color: #ffffff; */
        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: rgb(61, 60, 60);
    }
    #footer #left{
        width: 50%;
        height: 100%;
        /* background-color: palegoldenrod; */
        display: flex;
    
    }
    #footer #left #left-left{
        width: 50%;
        height: 100%;
        /* border-right: 1px solid black; */
        padding: 50px;
    }
    #footer #left #left-right{
        width: 50%;
        height: 100%;
        /* border-right: 1px solid black; */
        padding: 50px;
    }
    #footer #right{
        width: 50%;
        height: 100%;
        padding-top: 50px;
        padding-left: 30%;
        position: relative;
        
    
    }
    #footer h2{
        padding-bottom: 20px;
    }
    #footer h3{
        padding-bottom: 15px;
    }
    
    #footer h6{
        position: absolute;
        left: 10%;
        font-size: 10px;
        top: 90%;
    }
    
    
    
    
    @media (max-width:600px) {
        #menubar{
            width: 100%;
            height:100%;
            background-color:  #F1F0EB;
            position: absolute;
            z-index: 99999;
            top: -100%;
            transition: 1s;
            /* position: relative; */
            display: block;
            display: flex;
            flex-direction: column;
           
        }
        #menubar #border{
            width: 100%;
            height: 1.5px;
            background-color: rgba(40, 40, 40, 0.641);
            position: absolute;
            top: 10% ;
        }
        #menubar #left{
            /* background-color: violet; */
            height: 50%;
            width: 100%;
            padding: 50px;
            padding-top: 120px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
            font-family: Gilroy;
            font-weight: 100;
        }
        
        #menubar #left h3{
            padding-top: 10px;
            /* font-size: 50px; */
            font-size: 8vw;
            color: rgba(0, 0, 0, 0.543);
           
            
           
        }
        #menubar #left h3:hover{
            text-decoration: underline;
            transition: 2s;
        }
        #menubar #mid{
            width: 100%;
            height: 50%;
            /* background-color: seagreen ; */
            padding-left: 40%;
            padding-top: 30%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 100;
            /* font-size: 1vw; */
        
            
        }
        #menubar #mid h4{
            /* padding: 10px; */
            font-size: 15px;
            padding-top: 1px;
           
        }
        #menubar #mid h4:hover{
            text-decoration: line-through;
            transition: 5s;
        
        }
        a{
            text-decoration: none;
            color: rgb(55, 54, 54);
        }
        #menubar #right{
            
            width: 50%;
            height: 100%;
            background-color: teal;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            display: none;
        }
        #menubar #right #img{
            width: 90%;
            height: 80%;
            background-color: azure;
            
        }
        #cursor{
            display: none;
        }
        #nav{
            position: absolute;
            display: flex;
            /* background-color: salmon; */
            position: fixed;
            mix-blend-mode: difference;
        
            width: 100%;
            height: 70px;
            /* background-color: rgba(15, 30, 30, 0.317); */
            z-index: 999000;
            background: transparent;
            
        }
        #nav #left{
            width: 50%;
            height: 100%;
            /* background-color: purple; */
            display: flex;
            align-items: center;
            padding-left: 20px;
           
        
        }
        #nav #left #line{
            width: 50px;
            
            height: 15px;
            /* background-color: white; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* margin-right: 30px; */
           
        }
        #nav #left #line #line1{
            width: 70px;
            height: 2px;
            background-color: white;
            mix-blend-mode: difference;
            transition: 0.5s;
        
        }
        #nav #left #line #line2{
            width: 70px;
            height: 2.3px;
            background-color: white;
            mix-blend-mode: difference;
            transition: 0.5s;
            
        }
        #nav #left h3{
            /* padding: 20px; */
            color: cornsilk;
            font-family: monument;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }
        #nav #right{
            width: 50%;
            height: 100%;
            /* background-color: rgb(184, 50, 184); */
            display: flex;
            align-items: center;
            position: relative;
        
        }
        #nav #right a{
            position: absolute;
            right: 20px;
            color: cornsilk;
            font-size: 15px;
            text-decoration: underline;
        }
        #main{
            width: 100%;
            min-height: 100vh;
            background-color:  #F1F0EB;
            overflow: hidden;
        
           
        }
        #page1{
            width: 100%;
            height: 100vh;
            /* background-image: url();
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover; */
            overflow: hidden;
            position: relative;
        }
        #page1 img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: top;
        
        }
        #page1 #text{
            position: relative;
            top: 30%;
            left: 10%;
            
            
            font-family: MONUMENT;
            font-weight: 10;
            color: #F1F0EB;
        }
        #page1 #text{
            /* font-size: 50px; */
            font-size: 1.3rem;
        }
        #page1 .text{
            /* background-color: pink; */
            /* border-bottom: 1px solid black; */
            overflow: hidden;
        }
        
        #page2{
            width: 100%;
            height: 110%;
            background-color: #F1F0EB;
            display: flex;
            flex-direction: column;
        }
        #page2 #left{
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: pink; */
        }
        #page2 #left #img{
            width: 40%;
            height:49%;
            background-color: darkslategrey;
            /* background-image: url();
            background-size: cover; */
        }
        #page2 #left #img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #page2 #right{
            width: 100%;
            height: 100%;
            /* background-color: rgba(112, 128, 144, 0.285); */
            padding: 50px;
            font-size: 18px;
            padding-top: 100px;
        }
        #page2 #right h2{
            padding-bottom: 20px;
        }
        #page3{
            width: 100%;
            height: 80vh;
            /* background-color: rgb(211, 165, 211); */
            
        }
        #page3 #up{
            width: 100%;
            height: 10vh;
            background-color: #F1F0EB;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
        }
        #page3 #down{
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
        }
        #page3 #down #img{
            width: 100%;
            height: 100%;
            background-color: rgb(96, 129, 20);
           
            
            overflow: hidden;
            transition: 0.5s;
            object-fit: cover;
            
        }
        #page3 #down #img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            scale: 1.2;
            
        }
        #page3 #down #img:hover{
            width: 90%;
            height: 90%;
            transition: 0.5s;
            border-radius: 10px;    
        }
        #page4{
            width: 100%;
            height: 40vh;
            /* background-color: rgb(216, 86, 216); */
            display: flex;
            padding: 20px;
            font-size: 12px;
        }
        #page4 #left{
            width: 30%;
            height: 100%;
        
        }
        #page4 #right{
            width: 70%;
            height: 100%;
        
        }
        #page5{
            width: 100%;
            height: 100%;
            /* background-color: sandybrown; */
            padding-left: 10px;
        }
        #page5 h1{
            font-size: 5rem;
            font-weight: 100;
            /* background-color: firebrick; */
        }
        #page5 .text{
            border: 1px solid green;
            border: none;
        }
        #footer{
            width: 100%;
            height: 60vh;
            /* background-color: #ffffff; */
            display: flex;
            flex-direction: column;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 8px;
            font-weight: 100;
            color: rgb(61, 60, 60);
            /* background-color: rgb(206, 192, 157); */
        }
        #footer #left{
            width: 100%;
            height: 40%;
            /* background-color: palegoldenrod; */
            display: flex;
            /* background-color: rgb(228, 173, 7); */
        
        }
        #footer #left #left-left{
            width: 50%;
            height: 100%;
            /* border-right: 1px solid black; */
            /* background-color: deepskyblue; */
            padding: 50px;
        }
        #footer #left #left-right{
            width: 50%;
            height: 100%;
            /* border-right: 1px solid black; */
            /* background-color: deepskyblue; */
            padding: 50px;
        }
        #footer #right{
            width: 100%;
            height: 50%;
            padding-top: 50px;
            padding-left: 30%;
            position: relative;
            /* background-color: seagreen; */
            
        
        }
        #footer h2{
            padding-bottom: 20px;
        }
        #footer h3{
            padding-bottom: 15px;
        }
        
        #footer h6{
            position: absolute;
            left: 10%;
            font-size: 10px;
            top: 90%;
        }
        
    
        
    }